{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">W.C.S</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li style="margin-right: 20px">Nouvelles news: {{ nb_news }}</li>
            </ul>
        </div>
    </nav>
    <h1>Liste des News</h1>
    <div class="container">
        <div class="row">
            <div class="col m10 offset-m1">
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for news in all_news %}
                        {% include('AjaxBundle:news:show_news.html.twig') %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <h1>News creation</h1>
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $('form').on('submit', function() {
            var $this = $(this);
            var data = new FormData(this);
            $.ajax({
                type: 'POST',
                url: $this.attr('action'),
                data: data,
                processData: false,
                contentType: false,
                success: function(data){

                },
                error: function(error){

                }
            })
        });
    </script>
{% endblock %}